@{
    ViewData["Title"] = "Generate Excel Report";
}

<h1>Generate Excel Report</h1>

<div>
    <a asp-controller="Reports" asp-action="GenerateExcelReport" class="btn btn-primary">Generate Report</a>
</div>
<div>
    <a asp-controller="Reports" asp-action="GenerateExcelReport2" class="btn btn-primary">Generate Asset  Report</a>
</div>

